.hamBurger {
  position: relative;
  display: grid;
  place-items: center;
  width: 40px;
  padding: inherit;
  transition: all 0.5s ease-in-out;
}

.burgerMenu {
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.burgerMenu::before,
.burgerMenu::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(236, 236, 236, 0.2);
  transition: all 0.5s ease-in-out;
}
.burgerMenu::before {
  transform: translateY(-16px);
}
.burgerMenu::after {
  transform: translateY(16px);
}
/* ANIMATION */
.hamBurger-open .burgerMenu {
  transform: translateX(-70px);
  background: transparent;
  box-shadow: none;
}
.hamBurger-open .burgerMenu::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.hamBurger-open .burgerMenu::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
